@import "../mixins.scss";
@import "../variables.scss";

.main {
  margin: $header_mobile_height 0 0;
  padding: 0 $side_padding_mobile;

  h1[class~="page-title"] {
    margin: 8px 0 0;
  }

  @include devices(tablet) {
    padding: 0 $side_padding_tablet;
  }
}
