@import "../mixins.scss";
@import "../variables.scss";

.main {
  margin: $header_mobile_height 0 0;
  padding: 0 $side_padding_mobile;

  @include devices(tablet) {
    padding: 0 $side_padding_tablet;
  }
}

.main--desktop {
  margin: $header_desktop_height auto 0;
  padding: 48px $side_padding_desktop 0;
  max-width: calc(1140px + (2 * $side_padding_desktop));

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  > section {
    width: 700px;
  }

  > aside {
    margin: 0 0 0 $side_padding_desktop;
    width: 100%;
    max-width: 328px;

    > * {
      margin-top: 48px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  // @include devices(tablet-as-max) {
  //   margin: $header_mobile_height 0 0;
  //   padding: 48px $side_padding_tablet 0;

  //   > aside {
  //     display: none;
  //   }
  // }
}

.title {
  margin: 8px 0 0;
}
