@import "../../mixins.scss";

.article_item {
  > a {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    > div {
      [class~="title"] {
        @include lineClamp(100%, 2);
      }
    }
  }
}
