@import '../mixins.scss';

.article {
	position: relative;
	width: 120px;

	img {
		border-radius: 4px;
	}	

	span {
		position: absolute;
		top: 4px;
		left: 4px;
		padding: 2px 4px;
		border-radius: 4px;
		background: rgba(0, 0, 0, .32);
	}

	h4 {
		margin: 12px 0 0;

		@include lineClamp(100%, 4);
	}
}