@import "../mixins.scss";

.article_item {
  position: relative;
  padding: 16px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(33, 33, 33, 0.08);
    mix-blend-mode: normal;
  }

  > div {
    width: calc(100% - 24px - 64px);
  }

  h4 {
    @include lineClamp(calc(100%), 3);
  }

  img {
    margin: 0 0 0 24px;
    border-radius: 4px;
    object-fit: cover;
  }
}

.subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 0 0 4px;

  > a {
    padding: 0 4px 0 0;
  }

  span {
    &:first-of-type {
      margin: 0 4px 0 0;
    }
  }
}

.no_border {
  &::before {
    display: none;
  }
}
