@import "../mixins.scss";

.article--mobile {
  width: 100%;
  height: 165px;
}

.article--desktop {
  height: 160px;
}

.article {
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.38);
  }

  [class~="title"] {
    position: absolute;
    bottom: 16px;
    left: 0;
    padding: 0 16px;

    @include lineClamp(100%, 3);
  }
}

.article_big {
  grid-area: span 1 / span 2 / auto / auto;
}
