@import "../variables.scss";
@import '../mixins.scss';

$content_distance_mobile: calc($side_padding_mobile + 16px);
$content_distance_tablet: calc($side_padding_tablet + 16px);

.header {
  height: $header_mobile_height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $side_padding_mobile;

  h6 {
    margin: 0 $content_distance_mobile;
  }

  > div {
    display: flex;
    align-items: center;

    > * {
      margin: 0 $content_distance_mobile 0 0;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  @include devices(tablet) {
    padding: 0 $side_padding_tablet;

    h6 {
      margin: 0 $content_distance_tablet;
    }

    > div {
      > * {
        margin: 0 $content_distance_tablet 0 0;
      }
    }
  }
}
