.headline {
  h2 {
    margin: 24px 0 16px;
  }
}

.headline--desktop {
  padding: 28px 0;
  > div {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px;
    gap: 20px;
  }

  h2 {
    margin: 0 0 24px;
  }

  // @media only screen and (max-width: 747px) {
  //   display: none;
  // }
}
