@import "../mixins.scss";
@import "../variables.scss";

.section {
  margin: 0 (-$side_padding_mobile);

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px $side_padding_mobile;
  }

  @include devices(tablet) {
    margin: 0 (-$side_padding_tablet);

    > div {
      padding: 12px $side_padding_tablet;
    }
  }
}

.horizontal {
  align-items: flex-start !important;
  justify-content: flex-start !important;
  padding: 0 $side_padding_mobile 16px !important;
  overflow: auto;

  > article {
    margin: 0 16px 0 0;

    &:last-of-type {
      margin: 0;
    }
  }

  @include devices(tablet) {
    padding: 0 $side_padding_tablet 16px !important;
  }
}
