@mixin lineClamp($width, $line) {
  width: $width;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  text-overflow: initial;
  white-space: initial;
  overflow: hidden;
}

@mixin devices($breakpoint) {
  // mobile
  @if $breakpoint == mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }

  // tablets
  @if $breakpoint == tablet {
    @media only screen and (min-width: 481px) and (max-width: 1024px) {
      @content;
    }
  }

  // laptops & desktops
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  }

  // @if $breakpoint == tablet-as-max {
  //   @media only screen and (max-width: 1024px) {
  //     @content;
  //   }
  // }
}

@mixin noScrollbar {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
  &::-webkit-scrollbar {
    display: none;
  }
}
