@mixin lineClamp($width, $line) {
  width: $width;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  text-overflow: initial;
  white-space: initial;
  overflow: hidden;
}

@mixin devices($breakpoint) {
  // low resolution tablets
  @if $breakpoint == tablet {
    @media only screen and (min-width: 481px) {
      @content;
    }
  }

  // laptops & desktops
  @if $breakpoint == laptop {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  }
}
